ASP.NET/+ Legacy/Web Services/SimpleWebService.Client/Service References/SimpleWebServiceReference/SimpleWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CanWeFixIt">
        <s:complexType />
      </s:element>
      <s:element name="CanWeFixItResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CanWeFixItResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CanWeFixItSoapIn">
    <wsdl:part name="parameters" element="tns:CanWeFixIt" />
  </wsdl:message>
  <wsdl:message name="CanWeFixItSoapOut">
    <wsdl:part name="parameters" element="tns:CanWeFixItResponse" />
  </wsdl:message>
  <wsdl:portType name="SimpleWebServiceSoap">
    <wsdl:operation name="CanWeFixIt">
      <wsdl:input message="tns:CanWeFixItSoapIn" />
      <wsdl:output message="tns:CanWeFixItSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleWebServiceSoap" type="tns:SimpleWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanWeFixIt">
      <soap:operation soapAction="http://tempuri.org/CanWeFixIt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SimpleWebServiceSoap12" type="tns:SimpleWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CanWeFixIt">
      <soap12:operation soapAction="http://tempuri.org/CanWeFixIt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleWebService">
    <wsdl:port name="SimpleWebServiceSoap" binding="tns:SimpleWebServiceSoap">
      <soap:address location="http://localhost:4464/SimpleWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SimpleWebServiceSoap12" binding="tns:SimpleWebServiceSoap12">
      <soap12:address location="http://localhost:4464/SimpleWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>