Communication/WCF/Intro WCF/7. WcfDeployment/AutolotWcfServiceLibrary/AutolotWCFClient/Service References/AutolotServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AutolotWcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutolotWcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InventoryRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarId" type="xs:int" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InventoryRecord" nillable="true" type="tns:InventoryRecord" />
  <xs:complexType name="ArrayOfInventoryRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryRecord" nillable="true" type="tns:InventoryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryRecord" nillable="true" type="tns:ArrayOfInventoryRecord" />
</xs:schema>