Metaprogramming/Antrl/Capl/capl-doxygen-api/capl_api.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xs:element name="doxygen">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="compounddef">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="compoundname" type="xs:string" />
                            <xs:element maxOccurs="unbounded" name="innerclass">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="refid" type="xs:string" use="required" />
                                            <xs:attribute name="prot" type="xs:string" use="required" />
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" name="sectiondef">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="memberdef">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" name="templateparamlist">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="param">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="type" type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="type">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element name="ref">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="refid" type="xs:string" use="required" />
                                                                                <xs:attribute name="kindref" type="xs:string" use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="definition" type="xs:string" />
                                                    <xs:element minOccurs="0" name="argsstring" type="xs:string" />
                                                    <xs:element name="name" type="xs:string" />
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="param">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="type">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:sequence minOccurs="0">
                                                                            <xs:element name="ref">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:string">
                                                                                            <xs:attribute name="refid" type="xs:string" use="required" />
                                                                                            <xs:attribute name="kindref" type="xs:string" use="required" />
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="declname" type="xs:string" />
                                                                <xs:element minOccurs="0" name="array" type="xs:string" />
                                                                <xs:element minOccurs="0" name="briefdescription">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="para" type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="initializer" type="xs:string" />
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="enumvalue">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="name" type="xs:string" />
                                                                <xs:element minOccurs="0" name="initializer" type="xs:string" />
                                                                <xs:element name="briefdescription" type="xs:string" />
                                                                <xs:element name="detaileddescription" type="xs:string" />
                                                            </xs:sequence>
                                                            <xs:attribute name="id" type="xs:string" use="required" />
                                                            <xs:attribute name="prot" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="briefdescription">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element name="para" type="xs:string" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="detaileddescription">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element maxOccurs="unbounded" name="para">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:sequence minOccurs="0">
                                                                            <xs:element minOccurs="0" name="parameterlist">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element maxOccurs="unbounded" name="parameteritem">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="parameternamelist">
                                                                                                        <xs:complexType mixed="true">
                                                                                                            <xs:sequence minOccurs="0">
                                                                                                                <xs:element maxOccurs="unbounded" name="parametername" type="xs:string" />
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element name="parameterdescription">
                                                                                                        <xs:complexType mixed="true">
                                                                                                            <xs:sequence minOccurs="0">
                                                                                                                <xs:element name="para" type="xs:string" />
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="kind" type="xs:string" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="simplesect">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="para" type="xs:string" />
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="kind" type="xs:string" use="required" />
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="inbodydescription" type="xs:string" />
                                                    <xs:element name="location">
                                                        <xs:complexType>
                                                            <xs:attribute name="file" type="xs:string" use="required" />
                                                            <xs:attribute name="line" type="xs:unsignedShort" use="required" />
                                                            <xs:attribute name="column" type="xs:unsignedByte" use="required" />
                                                            <xs:attribute name="bodyfile" type="xs:string" use="optional" />
                                                            <xs:attribute name="bodystart" type="xs:unsignedShort" use="optional" />
                                                            <xs:attribute name="bodyend" type="xs:short" use="optional" />
                                                            <xs:attribute name="declfile" type="xs:string" use="optional" />
                                                            <xs:attribute name="declline" type="xs:unsignedShort" use="optional" />
                                                            <xs:attribute name="declcolumn" type="xs:unsignedByte" use="optional" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="kind" type="xs:string" use="required" />
                                                <xs:attribute name="id" type="xs:string" use="required" />
                                                <xs:attribute name="prot" type="xs:string" use="required" />
                                                <xs:attribute name="static" type="xs:string" use="required" />
                                                <xs:attribute name="strong" type="xs:string" use="optional" />
                                                <xs:attribute name="mutable" type="xs:string" use="optional" />
                                                <xs:attribute name="const" type="xs:string" use="optional" />
                                                <xs:attribute name="explicit" type="xs:string" use="optional" />
                                                <xs:attribute name="inline" type="xs:string" use="optional" />
                                                <xs:attribute name="virt" type="xs:string" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="kind" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="briefdescription" type="xs:string" />
                            <xs:element name="detaileddescription" type="xs:string" />
                            <xs:element name="location">
                                <xs:complexType>
                                    <xs:attribute name="file" type="xs:string" use="required" />
                                    <xs:attribute name="line" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="column" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="kind" type="xs:string" use="required" />
                        <xs:attribute name="language" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required" />
            <xs:attribute ref="xml:lang" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>