- ToCode/WCF/13.CreatingBusinessProcess/HolidayRequestActivityLibrary/Service References/HRService/MEX.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9875/ReceiveApprovedHolidayRequestsService/MEX?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReceiveApprovedHolidayRequestsService" />
  <xs:element name="ReceiveApprovedHolidayRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReceiveApprovedHolidayRequestsService" minOccurs="0" name="approvedHolidayData" nillable="true" type="q1:ApprovedHolidayData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveApprovedHolidayRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>