- ToCode/Pro WCF 4.0/13.CreatingBusinessProcess/HolidayRequestActivityLibrary/Service References/HRService/MEX2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReceiveApprovedHolidayRequestsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReceiveApprovedHolidayRequestsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ApprovedHolidayData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovedByManagerID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="HolidayEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HolidayStartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApprovedHolidayData" nillable="true" type="tns:ApprovedHolidayData" />
</xs:schema>