ASP.NET/Legacy Technologies/Web Services/AuthToken.Client/Service References/AuthService/AuthWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bloodhound.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bloodhound.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bloodhound.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoSomethingAuth">
        <s:complexType />
      </s:element>
      <s:element name="DoSomethingAuthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoSomethingAuthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticationToken" type="tns:AuthenticationToken" />
      <s:complexType name="AuthenticationToken">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InnerToken" type="s1:guid" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="DoSomethingAuthSoapIn">
    <wsdl:part name="parameters" element="tns:DoSomethingAuth" />
  </wsdl:message>
  <wsdl:message name="DoSomethingAuthSoapOut">
    <wsdl:part name="parameters" element="tns:DoSomethingAuthResponse" />
  </wsdl:message>
  <wsdl:message name="DoSomethingAuthAuthenticationToken">
    <wsdl:part name="AuthenticationToken" element="tns:AuthenticationToken" />
  </wsdl:message>
  <wsdl:portType name="AuthWebServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoSomethingAuth">
      <wsdl:input message="tns:DoSomethingAuthSoapIn" />
      <wsdl:output message="tns:DoSomethingAuthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthWebServiceSoap" type="tns:AuthWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://bloodhound.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSomethingAuth">
      <soap:operation soapAction="http://bloodhound.com/DoSomethingAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DoSomethingAuthAuthenticationToken" part="AuthenticationToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthWebServiceSoap12" type="tns:AuthWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://bloodhound.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoSomethingAuth">
      <soap12:operation soapAction="http://bloodhound.com/DoSomethingAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DoSomethingAuthAuthenticationToken" part="AuthenticationToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthWebService">
    <wsdl:port name="AuthWebServiceSoap" binding="tns:AuthWebServiceSoap">
      <soap:address location="http://localhost:6800/AuthWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthWebServiceSoap12" binding="tns:AuthWebServiceSoap12">
      <soap12:address location="http://localhost:6800/AuthWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>