- ToCode/Pro WCF 4.0/13.CreatingBusinessProcess/EmployeeHolidayRequestApplication/Service References/HolidayRequestService/HolidayRequestProcess2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HolidayRequestDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HolidayRequestDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HolidayRequestDataContract_Input">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="HolidayEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HolidayStartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HolidayRequestDataContract_Input" nillable="true" type="tns:HolidayRequestDataContract_Input" />
  <xs:complexType name="HolidayRequestDataContract_Output">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReferenceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HolidayRequestDataContract_Output" nillable="true" type="tns:HolidayRequestDataContract_Output" />
  <xs:complexType name="HolidayApprovalDataContract_Input">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovedOrDenied" type="tns:ApprovedOrDeniedEnum" />
      <xs:element minOccurs="0" name="ManagerID" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HolidayApprovalDataContract_Input" nillable="true" type="tns:HolidayApprovalDataContract_Input" />
  <xs:simpleType name="ApprovedOrDeniedEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Denied" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ApprovedOrDeniedEnum" nillable="true" type="tns:ApprovedOrDeniedEnum" />
  <xs:complexType name="HolidayApprovalDataContract_Output">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="HolidayEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HolidayStartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HolidayApprovalDataContract_Output" nillable="true" type="tns:HolidayApprovalDataContract_Output" />
</xs:schema>