Communication/WCF/Intro WCF/1. SimpleWebService/WsConsoleClient/Service References/ServiceRef/SimpleMathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SqrtWebMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="anInt" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SqrtWebMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SqrtWebMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SqrtWebMethodSoapIn">
    <wsdl:part name="parameters" element="tns:SqrtWebMethod" />
  </wsdl:message>
  <wsdl:message name="SqrtWebMethodSoapOut">
    <wsdl:part name="parameters" element="tns:SqrtWebMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="SimpleWebServiveSoap">
    <wsdl:operation name="SqrtWebMethod">
      <wsdl:input message="tns:SqrtWebMethodSoapIn" />
      <wsdl:output message="tns:SqrtWebMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleWebServiveSoap" type="tns:SimpleWebServiveSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SqrtWebMethod">
      <soap:operation soapAction="http://tempuri.org/SqrtWebMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SimpleWebServiveSoap12" type="tns:SimpleWebServiveSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SqrtWebMethod">
      <soap12:operation soapAction="http://tempuri.org/SqrtWebMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleWebServive">
    <wsdl:port name="SimpleWebServiveSoap" binding="tns:SimpleWebServiveSoap">
      <soap:address location="http://localhost:19753/SimpleMathService.asmx" />
    </wsdl:port>
    <wsdl:port name="SimpleWebServiveSoap12" binding="tns:SimpleWebServiveSoap12">
      <soap12:address location="http://localhost:19753/SimpleMathService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>